@{
    ViewBag.Title = "Landsbycacherne satser stort i 2018!";
}

<div class="apiPage api4col">
    <div class="apiAD">
        <div class="apiBreadcrumbs">
            <ul>
                <li class="apiFirst">
                    <a href="http://www.oa.no/">Forsiden</a>
                    <span> </span>
                </li>
                <li class="apiLast">
                    <a href="http://www.oa.no/nyheter/">nyheter</a>
                </li>
            </ul>
        </div>
        <div class="apiArticleTop ">
            <h1>Landsbycacherne satser stort i 2018!</h1>
        </div>

    </div>
    <div class="apiSignoff">
        <div class="topLine">
            <div class="apiAuthors">
                <div class="byline">
                    Benny Burke
                </div>
            </div>
            <div style="clear: both;"></div>
        </div>
        <div class="bottomLine">
            <div class="apiPublished">
                Publisert 28.03.2015 kl  09:00
                Oppdatert 28.03.2015 kl  09:00
            </div>
        </div>
    </div>

    <div class="apiAD">
        <div class="apiArticleRightPushed">
            <div class="apiAdMarkerAbove"> </div>
            <hr class="apiDivider">
            <div class="apiRelatedImages">
                <div class="apiImageContainer">
                    <div class="apiImageBox">
                        <img src="~/Images/Hovedbilde.jpg" alt="Geocaching" class="apiImage apiRight" width="478">
                    </div>
                    <div class="apiImageDescription">
                        <div class="apiCaption">
                            Lysgårdsbakken Foto: Arkiv
                        </div>
                    </div>
                </div>
                <div class="apiImageContainer">
                    <div class="apiImageBox">
                        <img src="~/Images/Styreleder Kjetil Rudberg.jpg" alt="Styreleder Kjetil Rudberg" class="apiImage apiRight" width="478">
                    </div>
                    <div class="apiImageDescription">
                        <div class="apiCaption">
                            Styreleder Kjetil Rudberg
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="apiArticleBody">
            <div class="apiArticleText">
                <p class="apiInline">
                    Siden de 23 olympiske lekene ikke kom til Lillehammer i 2018 ønsker Landsbycacherne og arrangere et internasjonalt GIGA event for Geocaching i tidsrommet 20 til 24 februar dette året.
                </p>
                <p class="apiInline">
                    Et GIGA event for Geocaching vil sette Oppland og Lillehammer på kartet som et av de store stedene i verden for internasjonale arrangementer langt utover de tradisjonelle sports aktivitetene Lillehammer regionen er kjent for i dag.
                </p>
                <h2 class="apiInline">
                    Søknadsprosess i gang
                </h2>
                <p class="apiInline">
                    Styreleder i Landsbycacherne Kjetil Rudberg sier at søknadsprosessen er i gang i samarbeid med oppland fylkeskommune, han regner med at formalia vil være på plass innen juli 2015. Det har ikke lykkes OA og få kontakt med Fylkesordfører Gro Lundby men Fylkeskultursjef Kyrre Ghal mener at dette er et så positivt tiltak i regionen at han kommer til å støtte dette fullt ut. Det er viktig å bruke de olympiske anleggene og vise utenlandske gjester noe av den atmosfæren som var her i 1994 sier Fylkeskultursjefen.
                </p>
                <p class="apiInline">
                    Landsbycacherne er en organisasjon med utspring fra Dokka, i løpet av noen år har de blitt et miljø som vokser raskt og har i dag aktive medlemmer fra en større del av regionen innlandet. Geocaching er en aktivitet som på verdens basis øker betydelig, det er mange i dag som bruker denne formen for aktivitet sosialt og som et tur alternativ til å holde seg i form.
                </p>
                <h2 class="apiInline">
                    I dialog med Tyskland
                </h2>
                <p class="apiInline">
                    -Vi har vært på en del større event for geocaching i inn og utland de siste årene og nå ønsker vi å gjøre noe selv sier styremedlem Roy Hansen. Han forteller at de også planlegger flere event i regionen for å bygge opp til et GIGA event som krever opp mot 5000 påmeldte deltakere. Det legges i disse dager planer for et Mega evnet i løpet av 2016 med tanke på å vise frem hva vi kan tilby av severdigheter og aktiviteter. Han kan også røpe at det er en dialog med aktører i Tyskland for å kunne promotere eventet som Project Lillyhammer.
                </p>
                <p class="apiInline">
                    -Vi har allerede fått positive signaler fra flere samarbeidspartnere som ønsker å være med på arrangementet, det danner et godt fundament for å få dette til sier Kjetil Rudberg. Han håper at næringslivet i regionen kommer på banen, det vil blant annet være et betydelig behov for overnattingsplasser.
                </p>
                <p class="apiInline">
                    Nytt styre er på plass og kommer til å få en sentral rolle i planleggingsfasen. Nå starter jobben med å fordele oppgaver og verv blant Landsbycachernes medlemmer, det blir ikke vanskelig da det er en gjeng som har vokst opp med en fantastisk dugnadsånd, sier Roy Hansen.
                </p>
            </div>

        </div>
    </div>
</div>