@{
    ViewBag.Title = "Postkasse blåst åpen";
}

<div class="apiPage api4col">
    <div class="apiAD">
        <div class="apiBreadcrumbs">
            <ul>
                <li class="apiFirst">
                    <a href="http://www.oa.no/">Forsiden</a>
                    <span> </span>
                </li>
                <li class="apiLast">
                    <a href="http://www.oa.no/nyheter/">nyheter</a>
                </li>
            </ul>
        </div>
        @*<div class="apiArticleTop ">
                <div class="apiImageContainer">
                    <div class="apiImageBox">
                        <img src="" alt="Litt av noen vindkast" class="apiImage" height="649" width="978">
                    </div>
                    <div class="apiImageDescription">
                        <div class="apiCaption">
                            Litt av noen vindkast. <span class="apiPhotographer">Foto: Amund Skullerud</span>
                        </div>
                    </div>
                </div>
                <h1>Postkasse blåst åpen av vind </h1>
            </div>*@

    </div>
    <div class="apiSignoff">
        <div class="topLine">
            <div class="apiAuthors">
                <div class="byline">
                    Amund Skullerud
                </div>
            </div>
            <div style="clear: both;"></div>
        </div>
        <div class="bottomLine">
            <div class="apiPublished">
                Publisert 18.11.2013 kl  07:00
                Oppdatert 18.11.2013 kl  07:00
            </div>
        </div>
    </div>

    <div class="apiAD">
        <div class="apiArticleRightPushed">
            <div class="apiAdMarkerAbove"> </div>
            <hr class="apiDivider">
            <div class="apiRelatedImages">
                <div class="apiImageContainer">
                    <div class="apiImageBox">
                        <img src="~/Images/postkasse_åpen.jpg" alt="Glad det var søndag" class="apiImage apiRight" height="637" width="478">
                    </div>
                    <div class="apiImageDescription">
                        <div class="apiCaption">
                            Glad det var søndag og ingen post. Bildet er en rekonstruksjon. Foto: Hilde Leonardsen
                        </div>
                    </div>
                </div>
                @*<div class="apiImageContainer">
                        <div class="apiImageBox">
                            <img src="" alt="Dørmatte på avveie" class="apiImage apiRight" height="317" width="478">
                        </div>
                        <div class="apiImageDescription">
                            <div class="apiCaption">
                                Dørmatte på avveie
                            </div>
                        </div>
                    </div>*@
            </div>
        </div>

        <div class="apiArticleBody">
            <div class="apiArticleText">
                <p class="apiInline">
                    Natt til søndag var det sterke vindkast i Sveumvegen på Gjøvik. Det er noe Amund Skullerud og Hilde Leonardsen kan vitne om.
                </p>
                <p class="apiInline">
                    - Det er jo slik man tror bare skjer på vestlandet, sier Amund, som er synlig sjokkert over hvor sterk vinden var natt til søndag.
                </p>
                <h2 class="apiInline">
                    Glad det var søndag
                </h2>
                <p class="apiInline">
                    – Heldigvis skjedde dette på en søndag, og ikke på en dag hvor det er ordinær postgang, uttaler Amund og forteller videre om hva konsekvensene kunne vært hvis det faktisk hadde vært post i postkassa.
                    - Det hadde vel blitt en morsom start på dagen. Måtte kanskje ringt på hos naboen og spurt om jeg kunne hente avisa mi i hagen hans humrer Amund mens han tar seg til haka og tenker gjennom situasjonen som kunne oppstått.
                </p>
                <p class="apiInline">
                    Det er 12 enheter i nabolaget til familien Leonardsen Skullerud. Det er mange barn i nabolaget her, og de løper rundt i hagene til hverandre kan Hilde fortelle. Så jeg tror ingen av naboene hadde tatt det ille opp om det lå en avis eller litt reklame i hagen søndag morgen fortsetter hun.
                </p>
                <h2 class="apiInline">
                    Navneforvirring
                </h2>
                <p class="apiInline">
                    - Jeg lo litt når jeg leste om stormen "Hilde" som "raser videre". Vi kunne jo ikke annet enn å le på søndag morgen når jeg spurte om "Hilde" hadde hentet posten, kan Amund fortelle.
                </p>
                <p class="apiInline">
                    "Hilde" hadde også flyttet på dørmatta på baksiden av huset. - Ja den lå ikke der den skulle da jeg gikk ut søndag morgen. Dørmatten kom heldigvis fort til rette igjen. - Den hadde blåst helt til den andre siden av plattingen, men den lå under et bord, så jeg så den ikke med en gang, sier Amund.
                </p>
                <p class="apiInline">
                    Det har blitt litt å rydde opp med dørmatta og noen blader som har blåst utover, men familien lar seg ikke stoppe. - Vi var heldige denne gangen. Det var ingen søppelkasser som hadde veltet. Noe som hadde skjedd med en nabo, avslutter Amund.
                </p>
            </div>

        </div>
    </div>
</div>