<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    @Styles.Render("~/content/css")
</head>

<body class="api">
    <div class="apiMultifix apiMultifix apiPageWrap">
        <div class="apiHeaderMultifix">
            <div id="apiTopMenuWrapper">
                <div id="apiSlimMenu">
                    <ul>
                        @*<li class="apiSlimLogo">
                            <a href="#"><img src="http://r.api.no/local/v3/publications/www.oa.no/gfx/lav_logo.gif" alt=""></a>
                        </li>*@
                        <li>
                            <a href="#">Forsiden</a><!-- section -->
                        </li>
                        <li>
                            <a class="active" href="#nyheter/">Nyheter</a><!-- section -->
                        </li>
                        <li>
                            <a href="#sport/">Sport</a><!-- section -->
                        </li>
                        <li>
                            <a href="#kultur/bw/">Bandwagon</a><!-- section -->
                        </li>
                        <li>
                            <a href="#kultur/">Kultur</a><!-- section -->
                        </li>
                        <li>
                            <a href="#navn/">Folk i dag</a><!-- section -->
                        </li>
                        <li>
                            <a href="#leserbrev/">Debatt</a><!-- section -->
                        </li>
                        <li>
                            <a href="#motor/">Motor</a><!-- section -->
                        </li>
                        <li>
                            <a href="#bolig/">Bolig</a><!-- section -->
                        </li>
                        <li>
                            <a href="#jobb/">Jobb</a><!-- section -->
                        </li>
                        <li>
                            <a href="#">konkurranse</a><!-- section -->
                        </li>
                    </ul>
                </div>
            </div>

        </div>
    </div>
    @RenderBody()
</body>
</html>